<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Form</title>
</head>
<body>
<h1>User Form</h1>
<form th:action="@{/users}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" />
    <label for="email">Email:</label>
    <input type="text" id="email" th:field="*{email}" />
    <button type="submit">Save</button>
</form>
<a href="/users">Back to List</a>
</body>
</html>
